.describe{
	background: url("../images/student.jpg");
	background-size: cover;
/*	margin-top: 33px;
	background-position: center;
*/
	background-repeat: no-repeat;
}

body{
	background-color: white;
}

.form-control{
}
h1{
/*	padding-top: 325px;
	padding-left: 175px;
	padding-bottom: 128px;
	font-size: 55px;*/
	color: #5a86a9;
	margin-top: 50px;
	font-size: 36px;
}

p{
	color: #5a86a9;
}

label{
	color: red;
}

.studentInfo{
	    box-shadow: 6px 6px 0px rgb(220, 215, 215);
	    margin-bottom: 50px;
	    margin-top: 50px;
	    border:solid;
	    border-color: #ffcc00;
	    padding: 5px;
	    padding-top: 20px;
	    background-color: #ffcc00;
	    border-radius: 355px 45px 225px 75px/15px 225px 15px 255px;


}

.btn{
	background: transparent;
	color: #007bff;
	border-radius: 355px 45px 225px 75px/15px 225px 15px 255px;

}
@media screen and (max-width:768px)
{


	h1{
	padding-left: 0px;
	}

	.describe{
		padding-bottom: 440px;
	}
}


@media screen and (min-width:1024px)
{
	#Phone{
		width: 90%;
	}

	#Name{
		margin-left: 10px;
	}

	#Email{
		margin-left: 10px;
	}
}

