@font-face{
    font-family: "schoolbully";
    src:url(../fonts/schoolbully.ttf) ;
}
body{
	background: linear-gradient(0deg,rgba(1, 1, 1, .3),rgba(1, 1, 1, .3)),url('../images/teachers2.jpg');
	background-size:100%;
	background-repeat: no-repeat;
/*	background-attachment:fixed;
*/}


.form-control
{
    border: none;
/*    border-bottom: solid;
	border-bottom-color: #e6e6e6;
    border-color: #ff99ff;*/
    height: 50%;
    margin: 20px;
    background:transparent;
    color:#fff;
}
.form-control:focus{
    background:transparent;
    border-bottom: solid;
    border-bottom-color:  #c34bc3;
    color: white;
    height: 35%;

}




.col-sm-6{
	padding-top: 100px;
	margin-bottom: 300px;
}

.describe{
	border-right: solid #129476;
	margin-top: 70px;
}


.btn-primary
{

    background-color: #ff66ff;
    border-color: white;
    border-radius: 355px 45px 225px 75px/15px 225px 15px 255px;
}
/*.back{
    margin-left: 270px;
}*/

button[type=submit]:hover
{
    background-color: #ff99ff;
    border-color: #ff99ff;
    
}

/*.finish{
	margin-left: 340px;
    
}

.finish a {
    color: white;
/*    text-decoration: none;
}
*/

.btn-group{
    color: white;
}

button[type=button]:hover
{
    background-color: #ff99ff;
    border-color: #ff99ff;
    
}

#rightLabels{
    padding-top: 27px;
    color: #c34bc3;
}

#leftLabels{
    padding-top: 27px;
    color: #c34bc3;
    padding-left: 20px;
}

.form-group.password{
    padding-left: 35px;
}


@media screen and (max-width: 575px) 
{
    .describe
    {
        border:none;
    }

 #leftLabels{
    padding-left: 0px;
 }

 

}
