.describe{
	background: url("../images/teacher6.jpg");
	background-size: cover;
/*	margin-top: 33px;
*/
	background-position: fixed;

	background-repeat: no-repeat;
	min-height: 900px;
	margin-top: 40px;
/*	padding-bottom: 1000px;
*/}

body{
	background-color: white;
}


.table{
		    box-shadow: 6px 6px 0px rgb(220, 215, 215);

}


.table thead th {
	    background-color: #78c4f6;
}


.btn-primary{
	    border-radius: 355px 45px 225px 75px/15px 225px 15px 255px;
	    background-color: #e20001;
	    border-color: #e20001;

}

.btn-primary:hover{
	background-color: #ab0101;
	border-color: #ab0101;
}



@media screen and (max-width:768px)
{
	.tables{
	background:url("../images/teacher6.jpg");
	background-position:fixed;
	background-repeat: no-repeat;
	background-size: cover;
	margin-top: 32px;
	min-height: 400px;
	}

	.describe{
		display:none;
	}
}